/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: "Helvetica Neue", sans-serif;
    color: #333; /* Cor do texto principal */
}

/* Estilos para o cabeçalho */
header {
    background-color: #000; /* Cor de fundo do cabeçalho */
    color: #fff; /* Cor do texto no cabeçalho */
    text-align: center;
    padding: 2rem 0; /* Espaçamento interno */
    position: relative; /* Adiciona posição relativa para o cabeçalho */
}

.logo-empresa img {
    max-width: 100%;
    height: 0px;
    display: block;
    margin: 0 auto; /* Centralizar o logotipo horizontalmente */
    margin-bottom: 1rem; /* Espaçamento abaixo do logotipo */
}

.mensagem {
    background-color: #222; /* Cor de fundo mais escura */
    color: #fff; /* Cor do texto branco */
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 2rem;
    text-align: center; /* Centralizar o texto */
}

.mensagem h2 {
    font-size: 1.5rem; /* Reduza um pouco o tamanho da fonte para o cabeçalho */
    color: #ff5500; /* Cor de destaque laranja */
}

.mensagem p {
    font-size: 1rem; /* Reduza o tamanho da fonte para o texto */
}

/* Estilos para a seção Apresentação da Empresa */
.apresentacao {
    background-color: #333333; /* Preto acinzentado */
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2); /* Sombra suave */
    text-align: center; /* Centralizar o texto */
}

/* Estilos para o rodapé */
footer {
    background-color: #333333; /* Cor de fundo mais escura para o rodapé */
    color: #fff; /* Cor do texto no rodapé */
    text-align: center;
    padding: 2rem 0;
}

/* Estilos para links */
a {
    color: #ff5500; /* Cor de destaque laranja para links */
    text-decoration: none;
    transition: color 0.3s; /* Transição suave de cor no hover */
}

a:hover {
    color: #ff4400; /* Cor de destaque laranja mais escura no hover */
}

/* Estilos para as abas */
.abas {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.abas li {
    margin-right: 1rem; /* Espaçamento entre as abas */
}

.abas a {
    color: #ff5500; /* Cor de destaque laranja para links */
    text-decoration: none;
    transition: color 0.3s; /* Transição suave de cor no hover */
}

.abas a:hover {
    color: #ff4400; /* Cor de destaque laranja mais escura no hover */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    header {
        padding: 10% 0; /* Redefina o espaçamento interno do cabeçalho para telas menores */
    }

    .logo-empresa img {
        max-width: 50%; /* Reduza a largura máxima do logotipo */
        max-height: 100px; /* Defina a altura máxima do logotipo */
    }

    .mensagem h2 {
        font-size: 1rem; /* Reduza o tamanho da fonte para o cabeçalho */
    }

    .mensagem p {
        font-size: 1.2rem; /* Reduza o tamanho da fonte para o texto */
    }

    .apresentacao {
        padding: 10%; /* Redefina o espaçamento interno para a seção de apresentação */
    }
}

/* Estilos para a imagem responsiva */
.mensagem img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilos para a imagem de fundo no rodapé */
footer {
    position: relative;
    background-color: #333333;
    color: #fff;
}

footer img {
    position: absolute;
    bottom: 12px;
    right: 0;
    max-width: 100%;
    height: auto;
}

.discord img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Para alinhar uma imagem para o lado direito */
img.logo {
    width: 50px;
    height: auto;
}

img.alterar {
    width: 100px;
    height: auto;
}

img.cidade {
    background-attachment: fixed;
    margin-right: 10px;
    float: right;
    width: 600px;
    height: auto;
}

/* Adicione margem à direita do texto em relação à imagem */

.texto {
    float: left;
    margin-right: 20px; /* Ajuste conforme necessário */
}

.destacado {
    color: #ff5500; /* Cor laranja */
    font-size: 50em; /* Tamanho grande */
    text-align: center; /* Centralizar o texto horizontalmente */
    display: block; /* Faz com que o texto ocupe toda a largura disponível */
    margin: 0 auto; /* Centralizar o bloco no meio da página */
    font-weight: bold; /* Pode adicionar negrito para maior destaque, se desejar */
}

.fundo img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave à imagem */
    border-radius: 30px; /* Arredonda as bordas da imagem */
}

.fundo {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.destacado {
  color: orange;
  font-size: 24px;
}

 .texto-esquerdo {
        text-align: left;
    }
    .espacamento {
        margin-bottom: 50px; /* Adicione o espaçamento inferior desejado em pixels */
    }
    .espacamento2 {
        margin-top: 50px; /* Adicione o espaçamento superior desejado em pixels */
    }

     .destacado2 {
        margin-top: 40px; /* Adicione o espaçamento superior desejado em pixels */
    }

      .destacado2 {
        margin-top: 50px; /* Adicione o espaçamento superior desejado em pixels */
    }

.linha3 h2 {
    color: #87cefa; /* Cor de destaque laranja */
    display: inline-block;
    text-align: left;
}

.inforota h2 {
    display: inline-block;
    color: #87cefa; /* Cor de destaque laranja */
    text-align: right;
}

.linha3 {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.imagem-responsiva {
    float: left;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Animação de troca de imagens no cabeçalho */
/* Remova essas linhas */
header {
    background-size: 100% 100%; /* Faça a imagem cobrir todo o cabeçalho */
    transition: background-image 2s ease-in-out; /* Aumente a duração da transição para 2 segundos */
    /* Outras propriedades do cabeçalho */
}

/* Estilo para o contêiner branco no topo */
.topo-branco {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vh; /* Altura do espaço em branco no topo da página */
    background-color: #fff; /* Cor de fundo branca */
    padding: 0 20px; /* Espaçamento interno para o conteúdo */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adiciona sombreamento */
}

/* Estilo para a logo dentro do contêiner */
.topo-branco .logo {
    max-height: 100%; /* Garante que a logo não ultrapasse a altura do contêiner */
}

/* Estilo para as abas no lado direito */
.abas {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    box-shadow: none;
}

.abas li {
    margin-right: 20px;
}

.abas a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    box-shadow: none;
}

/* Estilo para a aba ativa (pode ser personalizado conforme necessário) */
.abas a.active {
    background-color: #ff9900;
    color: #fff;
}

/* Estilo para a aba "Linhas" */
.abas .dropdown {
    position: relative;
    display: inline-block;
}

/* Estilo para o link da aba "Linhas" */
.abas .dropbtn {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #000000
    border-radius: 5px;
    box-shadow: none /* Adiciona sombreamento */
}

/* Estilo para o conteúdo das subcategorias (inicialmente oculto) */
.abas .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: none; /* Adiciona sombreamento */
    z-index: 1;
}

/* Estilo para as subcategorias */
.abas .dropdown-content a {
    color: #000;
    padding: 1px 16px;
    text-decoration: none;
    display: block;
}

/* Mostrar subcategorias ao passar o mouse sobre "Linhas" */
.abas .dropdown:hover .dropdown-content {
    display: block;
}

/* Estilo para a subcategoria ativa (pode personalizar conforme necessário) */
.abas .dropdown-content a:hover {
    background-color: #4682B4 !important;;
    color: #ffcc00 !important;
    position: relative;
}

/* Estilo para a caixa de subcategorias "Linhas" */
.subcategorias {
    display: none; /* Inicialmente, oculte as subcategorias */
    position: absolute;
    top: 100%; /* Posicione abaixo da aba "Linhas" */
    left: 0;
    background-color: #333; /* Cor de fundo escura */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Adicione uma sombra suave */
    min-width: 200px; /* Largura mínima da caixa */
    z-index: 1; /* Certifique-se de que esteja na parte superior */
}

/* Estilo para as subcategorias dentro da caixa */
.subcategorias a {
    display: block;
    color: #fff; /* Cor do texto branco */
    text-decoration: none;
    padding: 5px 0;
    transition: background-color 0.3s; /* Transição suave de cor de fundo */
}

/* Estilo para as subcategorias no hover */
.subcategorias a:hover {
    background-color: #ff0000; /* Substitua #ff0000 pelo código de cor desejado */
    color: #ffcc00 !important;
}

dropdown-content {
   display: block;
   text-decoration: none;
   color: #E2144A;
   background: #fff;
   padding: 5px;
   border: 1px solid #ccc;
}

.dropdown-content {
    background-color: #ff0000;
}

/* Estilo para o texto no cabeçalho */
.header-text {
    position: absolute; /* Posiciona em relação ao cabeçalho */
    top: 50%; /* Posiciona verticalmente no meio do cabeçalho */
    left: 50%; /* Posiciona horizontalmente no meio do cabeçalho */
    transform: translate(-50%, -50%); /* Centraliza o texto */
    text-align: center; /* Centraliza o conteúdo do texto horizontalmente */
    color: #fff; /* Cor do texto */
}

.header-text h1 {
    font-size: 24px; /* Tamanho da fonte do título */
    margin-bottom: 10px; /* Espaço abaixo do título */
}

.header-text p {
    font-size: 16px; /* Tamanho da fonte do parágrafo */
}

.icon-container {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1px; /* Espaço entre o ícone e o texto */
}

/* Estilo para o ícone */
.icon-container img {
    max-width: 30px; /* Largura máxima do ícone (ajuste conforme necessário) */
    height: 10px; /* Altura automática mantendo a proporção */
}

.aba-servicos {
    display: flex;
    align-items: center;
    margin-left: 0px; /* Espaçamento à esquerda do ícone */
}

.aba-servicos img {
    width: 20px; /* Largura do ícone */
    height: 20px; /* Altura do ícone */
    margin-right: -50px; /* Espaçamento à direita do ícone */
}

/* Estilo para a seção de serviços */
#serviços {
    background-color: #222222; /* Cor de fundo branca */
    color: #000000; /* Texto em preto */
    padding: 20px; /* Espaçamento interno */
}

#serviços img {
    max-width: 100%; /* Tornar a imagem responsiva */
    height: auto;
}

        /* Estilo para tornar o texto responsivo */
#serviços p {
    font-size: 18px; /* Tamanho da fonte base */
}

        /* Media query para telas menores */
@media screen and (max-width: 768px) {
    #serviços {
        padding: 10px; /* Reduzir o espaçamento interno */
}

#serviços p {
    font-size: 16px; /* Reduzir o tamanho da fonte */
    }
}

/* Estilo para o menu suspenso (dropdown) */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Estilo para o botão da aba "Linhas" */
.dropbtn {
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
}

/* Estilo para o conteúdo do menu suspenso */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    border: 1px solid #ccc;
    z-index: 1;
}

/* Estilo para os itens do menu suspenso (as subcategorias) */
.dropdown-content a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
}

/* Mostrar o conteúdo do menu suspenso quando o mouse passa sobre o botão "Linhas" */
.dropdown:hover .dropdown-content {
    display: block;
}

h2{
    color: darkred;
}

  #linha1 { 
            background-color: #000000; /* Cor de fundo branca */
            color: #000; /* Texto em preto */
            padding: 20px; /* Espaçamento interno */
        }

        #linha1 img {
            max-width: 100%; /* Tornar a imagem responsiva */
            height: 500px;
        }

        /* Estilo para tornar o texto responsivo */
        #linha1 p {
            font-size: 18px; /* Tamanho da fonte base */
        }

        /* Media query para telas menores */
        @media screen and (max-width: 768px) {
            #linha1 {
                padding: 10px; /* Reduzir o espaçamento interno */
            }

            #linha1 p {
                font-size: 16px; /* Reduzir o tamanho da fonte */
            }
        }

body {
  font-size: 16px; /* Define um tamanho de fonte padrão para o corpo do texto */
}

h2 {
  font-size: 2em; /* Aumenta o tamanho da fonte do cabeçalho em relação ao tamanho do corpo do texto */
}

p {
  font-size: 1em; /* Tamanho de fonte padrão para parágrafos */
}

/* Media query para ajustar o tamanho da fonte em telas menores */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  h2 {
    font-size: 1.8em;
  }
  p {
    font-size: 0.9em;
  }
}

.linha6 {
    flex: 1;
  float: left; /* Para posicionar a imagem à esquerda */
  margin-right: 100px; /* Espaço entre as imagens (ajuste conforme necessário) */

}

.linha7 {
    flex: 1;
  float: left; /* Para posicionar a imagem à esquerda */
  margin-right: 100px; /* Espaço entre as imagens (ajuste conforme necessário) */
  margin-left: 150px;
}

.linhas {
    float: right;
    margin-left: 50px; /* Adicione o espaço desejado à esquerda */
    margin-right: 50px; /* Adicione o espaço desejado à direita */
}

/* Estilize o contêiner pai */
.container2 {
    display: flex;
    justify-content: space-between; /* Distribuir as imagens igualmente na linha */
    align-items: center; /* Centralizar verticalmente as imagens */
    width: 100%; /* Garante que o contêiner ocupe a largura total da página */
}

/* Estilize as imagens */
.imagem {
    flex: 1; /* Faz com que cada imagem ocupe a mesma quantidade de espaço na linha */
    text-align: center; /* Centralizar o conteúdo dentro das divs das imagens */
}

/* Estilize as imagens para garantir que não excedam uma largura máxima */
.imagem img {
    max-width: 100%; /* Garante que as imagens não ultrapassem a largura do contêiner */
}

.container2 {
    max-width: 100%;
    text-align: center;
    padding: 20px;
}

.container2 img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.container2 {
    width: 50%; /* A imagem ocupará toda a largura do contêiner pai */
    height: auto; /* Mantém a proporção da imagem */
    max-width: none; /* Remove qualquer limite de largura máximo */
}

.imagemdireita{
    max-width: 100%;
    height: auto;
    width: 3000px;
}

.imagemcentro {
    max-width: 100%;
    height: auto;
}

.imagemesquerda {
    max-width: 100%;
    height: auto;
}


.serviços {
    float: left; /* Alinha a imagem à esquerda */
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner pai */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Permite centralizar a imagem horizontalmente com margin: 0 auto; */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
}

/* For mobile phones: */
[class*="linhas"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .linhas {width: 8.33%;}
  .linhas {width: 16.66%;}
  .linhas {width: 25%;}
  .linhas {width: 33.33%;}
  .linhas {width: 41.66%;}
  .linhas {width: 50%;}
  .linhas {width: 58.33%;}
  .linhas{width: 66.66%;}
  .linhas{width: 75%;}
  .linhas{width: 83.33%;}
  .linhas {width: 91.66%;}
  .linhas {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

h3 {
    color: #add8e6;
    margin-top: 20px; /* Ajuste o valor conforme necessário */
}

@media screen and (max-width: 768px) {
  /* Defina as imagens para ficarem uma em cima da outra */
  .container2{
    display: block; /* Certifique-se de que as imagens sejam exibidas em bloco */
    margin-bottom: 10px; /* Adicione um espaço entre as imagens, se desejar */
    width: 390px;
  }
}