/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: "Helvetica Neue", sans-serif;
    color: #333; /* Cor do texto principal */
}

/* Estilos para o cabeçalho */
header {
    background-image: url('fundo.png'); /* Imagem de fundo do cabeçalho */
    background-size: cover;
    background-position: center;
    color: #fff; /* Cor do texto no cabeçalho */
    text-align: center;
    padding: 2rem 0; /* Espaçamento interno */
}

.logo-empresa img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Centralizar o logotipo horizontalmente */
    margin-bottom: 1rem; /* Espaçamento abaixo do logotipo */
}

.mensagem {
    background-color: #222; /* Cor de fundo mais escura */
    color: #fff; /* Cor do texto branco */
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 2rem;
    text-align: center; /* Centralizar o texto */
}

.mensagem h2 {
    font-size: 1.5rem; /* Tamanho do texto do cabeçalho */
    color: #ff5500; /* Cor de destaque laranja */
}

.mensagem p {
    font-size: 1rem; /* Tamanho do texto do parágrafo */
}

/* Estilos para o rodapé */
footer {
    background-color: #333333; /* Cor de fundo mais escura para o rodapé */
    color: #fff; /* Cor do texto no rodapé */
    text-align: center;
    padding: 2rem 0;
}

/* Estilos para links */
a {
    color: #ff5500; /* Cor de destaque laranja para links */
    text-decoration: none;
    transition: color 0.3s; /* Transição suave de cor no hover */
}

a:hover {
    color: #ff4400; /* Cor de destaque laranja mais escura no hover */
}

/* Estilos para as abas */
.abas {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.abas li {
    margin-right: 1rem; /* Espaçamento entre as abas */
}

.abas a {
    color: #ff5500; /* Cor de destaque laranja para links */
    text-decoration: none;
    transition: color 0.3s; /* Transição suave de cor no hover */
}

.abas a:hover {
    color: #ff4400; /* Cor de destaque laranja mais escura no hover */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    header {
        padding: 160px 0; /* Redefina o espaçamento interno do cabeçalho para telas menores */
    }

    .logo-empresa img {
        max-width: 400px; /* Reduza a largura máxima do logotipo */
        max-height: 100px; /* Defina a altura máxima do logotipo */
    }

    .mensagem h2 {
        font-size: 20px; /* Reduza o tamanho da fonte para o cabeçalho */
    }

    .mensagem p {
        font-size: 24px; /* Reduza o tamanho da fonte para o texto */
    }
}

/* Estilos para a imagem responsiva */
.mensagem img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilos para a imagem de fundo no rodapé */
footer {
    position: relative;
    background-color: #333333;
    color: #fff;
}

footer img {
    position: absolute;
    bottom: 12px;
    right: 0;
    max-width: 100%;
    height: auto;
}

/* Estilos adicionais */
.texto-esquerdo {
    text-align: left;
}

.espacamento {
    margin-bottom: 50px; /* Adicione o espaçamento inferior desejado em pixels */
}

.espacamento2 {
    margin-top: 50px; /* Adicione o espaçamento superior desejado em pixels */
}

.destacado2 {
    margin-top: 60px; /* Adicione o espaçamento superior desejado em pixels */
}
